/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    font-family: 'Noto Sans', sans-serif;
    /*Remove min-width and max-width*/
  }
  
  /* Layout */

  section {
    float:left; 
    width: 50%;
    padding :20px;
  }
  
  aside {
    float: left; 
    width: 30%;
    padding: 20px;
  }

  
  nav {
    float: left;
    width: 20%;
    padding: 20px;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    font-family: 'Nunito Sans', sans-serif;
    padding: 20px;
    
  }
  
  /* header and footer */

  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
    text-align: center;
  }
  
  /* WRITE YOUR CODE BELOW HERE */
  
/*Body Styles*/
  body {
    font-size: 14px; /*Sets the base fon size for the body*/
    line-height: 1.6; /* Sets the line height to 1.6 times the font size*/
    letter-spacing: 0.03em; /* Add a little extra space between letters */
    word-spacing: 0.01em; /* Add a little extra space betweeen words */
    color: #333; /*Sets the text colour to dark gray */
    
}

/*Heading styles*/
h1, h2, h3 {
    font-family: 'Nunito Sans', sans-serif; /*Applies the 'Nunito Sans' font to all heading*/
    letter-spacing: 0.05em /* Add extra space between letters in headings */
} 

h1 {
    font-size: 2.5em; /* h1 heading to 2.5 times size */
    text-align: center; /* Center the h1 */
}

/*First paragraph after each heading */
section p:first-of-type {
    text-indent: 20px; /* Indentation for first paragraph after each heading */
}

/* Links */

a {
    text-decoration: underline; /* Underline links by default */
    color: #cd8d8d; /* Link color */
}


/* Navigation menu */

nav ul {
    list-style: none; /* Removes default bullet points from list items */
    padding: 0; /*Remove default padding */
    text-decoration: none; /* Ensures no underline on list items*/
    text-align: center; /*Centers the list items*/
    background-color: white; /* Sets the background color of the navigation menu to white */
}

nav li {
    margin-top: 10px; /* Added a 10px margin to the top of each list item */
    padding: 20px; /* Added 20px padding inside each list item */
    border: 2px solid #ca9c9a ; /* Sets a 2px solid border with a light reddish color around each list item */
}

/**/
nav a {
    background-color: #ffffff ; /*Sets the background color of links within the nav to white */

}

/**/
nav a:hover {
    background-color: #ffffff; /*Keeps the background color of links white when hovered over*/

}

/* Image styles*/
section img {
    width: 15px; /*Sets the width of images within sections to 15px*/
}

